<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      <%=	 nav_link(t('pages.index.title'), root_path) %>
    </ul>
  </div>
</nav>
