<div class="panel panel-default js-category--item" id="category_<%= category.id %>">
  <div class="panel-heading">
    <%= category.name %>
  </div>
  <div class="panel-body">
    <%= category.description %>
  </div>
  <div class="panel-footer">
    <%= c('comments_comments', commentable: category, comment: Comment.new) %>
  </div>
</div>



