<div id="categories">
  <%=	 c('categories_form', category: @category, m: :post, tclass: '', id: "new_category") %>
  <hr>
  <div class="list-group js-categories">
    <%-	@categories.each do |category| %>
      <%=	 c('categories_category', category: category, action: action_name) %>
    <% end %>
  </div>
</div>
