<div class="list-group-item js-categories--item" id="category_<%= category.id  %>">
  <div class="row">
    <div class="col-xs-4">
      <%=	 link_to category.name, category_path(category.id) %>
    </div>
    <div class="col-xs-5">
      <%=	 category.description %>
    </div>
    <div class="col-xs-3">
      <%=	link_to t('edit'), edit_category_path(category.id),
                   data: {remote: true, type: :json, target: "#category_#{category.id}"},
                   class: 'js-categories--edit--common btn'  %>
      <%=	link_to t('delete'), category_path(category.id), method: :delete, remote: true, class: 'js-categories--edit btn btn-danger'  %>
    </div>
  </div>
</div>
