<%= form_with model: post, url: [local_assigns.fetch(:category, nil), post], method: m, format: :json, class: tclass, id: id, html: {multipart: true} do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :file %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
