<div class="list-group-item js-posts--item" id="post_<%= post.id  %>">
  <div class="row">
    <div class="col-xs-4">
      <%=	 link_to post.name, post_path(post.id) %>
    </div>
    <div class="col-xs-5">
      <%=	 post.content %>
    </div>
    <div class="col-xs-3">
      <%=	link_to t('edit'), edit_post_path(post.id),
                   data: {remote: true, type: :json, target: "#post_#{post.id}"},
                   class: 'js-post--edit--common btn'  %>
      <%=	link_to t('delete'), post_path(post.id), method: :delete, remote: true, class: 'js-post--delete btn btn-danger' %>
    </div>
  </div>
  <%= link_to "attachment" , post.file.url if post.file.present? %>
</div>
