<div class="panel panel-default js-posts--item" id="category_<%= post.id  %>">
  <div class="panel-heading">
    post.name
  </div>
  <div class="panel-body">
    post.content
  </div>
  <div class="panel-footer">
    <%= link_to "attachment" , post.file.url if post.file.present? %>
  </div>
</div>
