<div id="posts">
  <%=	 c('posts_form', post: @post, category: @category, m: :post, tclass: '', id: "new_post") %>
  <hr>
  <div class="list-group js-posts">
    <%-	@posts.each do |post| %>
      <%=	 c('posts_post', action: action_name, post: post) %>
    <% end %>
  </div>
</div>
