<%= c('comments_form', commentable: commentable, comment: comment, id: "new_comment") %>
<div id="comments">
  <div class="list-group js-comments">
    <%- @comments.each do |comment| %>
      <%= c('comments_comment', comment: comment) %>
    <% end %>
  </div>
</div>
<!--render partial: 'comments/form', locals: { commentable: commentable, comment: comment }-->
