<div class="list-group-item js-comment--item" id="comment_<%= comment.id %>">
  <div class="row">
    <div class="col-xs-4">
      <p><%= comment.author %></p>
    </div>
    <div class="col-xs-10">
      <p><%= comment.content %></p>
    </div>
  </div>
</div>
