<%= form_with model:  [commentable, comment], id: 'new_comment' do |form| %>
  <%= form.hidden_field :commentable, value: commentable.class.name %>
  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
