<%=	 render 'shared/title', title: t('.title', entry_name: @post.name) %>
<hr>
<div id="post" data-category="<%= @post.id %>"
<%= c('posts_postsingle', post: @post) %>
<hr>

<%=	 c('comments_comments', commentable: @post, comment: Comment.new) %>
