<%=	 render 'shared/title', title: t('.title', entry_name: @category.name) %>
<hr>
<div id="category" data-category="<%= @category.id %>"
<%=	 c('category_category', category: @category) %>
<hr>
<%= c('posts_posts') %>
